<!--include header-->
<%- include('include/_header') %>
<!---->

 <!--main section-->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"> <i class="fas fa-angle-double-left"></i> All Students</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h4 class="dark" > Update Student</h4>
            <span class="text-light">Use form to Update Student</span>

        </div>
        <!--form handling-->
         <!--form handling-->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class='dark'>Name</label>
            <input type="hidden" name="id" value="<%= user._id %>"/>
            <input type="text" name="name" value="<%= user.name %>" placeholder="Eldad Mwangi"  />
        </div>
        <div class="form-group">
            <label for="email" class='dark'>Email</label>
            <input type="text" name="email" value="<%= user.email %>" placeholder="eldad@gmail.com"  />
        </div>
        <!--GENDER-->
        <div class="form-group">
            <label for="gender" class='dark'>Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="gender" value="male" <%= user.gender == 'male'? 'checked' : '' %>  />
                <label for="radio-1" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="female"  <%= user.gender == 'female'? 'checked' : '' %>  />
                <label for="radio-2" class="radio-label">Female</label>
            </div>
        </div>
        <!--STATUS-->
        <div class="form-group">
            <label for="status" class='dark'>Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="status" value="active"  <%= user.status == 'active'? 'checked' : '' %> />
                <label for="radio-3" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="inactive"  <%= user.status == 'inactive'? 'checked' : '' %> />
                <label for="radio-4" class="radio-label">Inactive</label>
            </div>
        </div>
        <!--STATUS-->
        <div class="form-group">
            <button type="submit" class="btn dark update ">Save</button>
        </div>
        <!--Submit Button-->


    </div>
</form>
<!--form handling-->
        <!--form handling-->
    </div>
</main>

<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->